.modal-overlay {
  background: transparent;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 60%;
  max-width: 22rem;
  height: 12rem;
  background-color: #0D1D25;
  padding: 1rem;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  flex-direction: column;


}

.modal-content h2 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-family: 'Roboto';
  font-weight: 400;

  @media(min-width: 1024px) {
    font-size: 2rem;
  }
}

.modal-content div {
  display: flex;
  gap: 2rem;
}

.modal-content button {
  border: none;
  background: transparent;
  color: #F4EDE8;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 1.6rem;
}